body{
font-family:Arial;
background:#edf4ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{

background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
width:400px;
text-align:center;

}

input{

width:100%;
padding:12px;
margin-top:20px;
font-size:18px;

}

button{

margin-top:20px;
padding:12px 30px;
background:#0066cc;
color:white;
border:none;
cursor:pointer;
font-size:18px;

}

button:hover{

background:#004999;

}

#result{

margin-top:25px;
text-align:left;

}

.footer{
    position:fixed;
    bottom:10px;
    left:0;
    width:100%;
    text-align:center;
    font-size:14px;
    color:#555;
    font-family:Arial, sans-serif;
}
